<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" href="~/images/donuticon.jpg" />
</head>
<body class="wallpaper">
    <div id="hours">
        SHOP HOURS: Closed Monday / Tuesday-Thursday: 7am-5pm / Friday-Saturday: 7am-7pm / Sunday: 8am-2pm
    </div>
    @RenderBody()


    <div class="footerDiv">
        <div class="socialMediaDiv">
            <a href="https://www.instagram.com/doughboysjax/"><img src="~/images/Instagram.png" class="socialMedia"></a>
            <a href="https://www.facebook.com"><img src="~/images/Facebook.png" class="socialMedia"></a>
            <a href="https://www.twitter.com"><img src="~/images/Twitter.png" class="socialMedia"></a>
        </div>
        <p>
            Copyright Dough Boys 2019.<br>
            Social media vectors provided by <a href="https://www.vecteezy.com/">vecteezy.com</a><br>
            Background provided by <a href="https://www.toptal.com/designers/subtlepatterns/">toptal.com</a>
    </div>
</body>
</html>
