@{
    ViewData["Title"] = "About Us";
}

<div class="navBar">
    <a href="Home" class="navLogo"><img src="~/images/logo.png"></a>
    <div id="navHeader">
        <ul>
            <li><a asp-action="Index">Home</a></li>
            <li><a asp-action="Menu">Menu</a></li>
            <li><a asp-action="PreOrder">Pre-Order</a></li>
            <li><a asp-action="Questions">FAQ</a></li>
            <li class="activeItem"><a asp-action="AboutUs">About Us</a></li>
        </ul>
    </div>
</div>

<h1>ABOUT US</h1>
<p>Here at Dough Boys we strive to bring you high quality artisan doughnuts. We make out doughnuts from scratch and we produce these tiny desserts with the upmost percesion and delicacy to create the most enjoyable doughnut we can think of.</p>
<br>

<h1>MISSION STATEMENT</h1>
<p1>
    DoughBoys is in business to create the structure and systems needed to allow our customers access to the majority of their away-from-home daily meal requirements on a one-stop-shop basis. All of our products shall be of the highest quality and value provided with outstanding personal services at the lowest possible prices consistent with a fair return on investment for our job enhancement/security for our employees and a level of community involvement by everyone connected with our business. All of our products and services shall be delivered consistently and measured one satisfied customer at a time, whether by company-owned or franchised operations, in superior, clean, convenient, fun and friendly neighborhood environments. We pledge to make DoughBoys the best place to eat and the best place to work. (this was copied a little bit from https://www.missionstatements.com/restaurant_mission_statements.html)
</p1>