@{
    ViewData["Title"] = "Dough Boys";
}


    <div class="navBar">
        <a href="Home" class="navLogo"><img src="~/images/logo.png"></a>
        <div id="navHeader">
            <ul>
                <li class="activeItem"><a asp-action="Index">Home</a></li>
                <li><a asp-action="Menu">Menu</a></li>
                <li><a asp-action="PreOrder">Pre-Order</a></li>
                <li><a asp-action="Questions">FAQ</a></li>
                <li><a asp-action="AboutUs">About Us</a></li>
            </ul>
        </div>
    </div>

    <div class="homeImg">
        <div class="home-img-text">

            <h1>High Quality Doughnuts & High Quality People</h1>
        </div>
    </div>

    <div class="mainText">
        <h1>DOUGH BOYS</h1>
        <!--maybe put in the middle of screen -->
        <!-- see https://minibardonuts.com/ -->
        <p class="center">
            No longer will you have to stress about finding the perfect dougnut. You won't
            need to persuade your friends and your loved ones for the spot to be, to enjoy
            this form of dessert perfection.
        </p>
        <!--maybe put in the middle of screen -->
        <p class="center">
            At DoughBoys, our specialty donuts are at a higher tier than our other friends
            around the Jacksonville area. Which means you won't need to go anywhere else but here!
            Unlike other donut shops, our doughnuts are fuller and not tiny. We have a set 12
            flavors on our site that you can look forward to eating.
        </p>
    </div>
