@{
    ViewData["Title"] = "Menu";
}
<div class="navBar">
    <a href="Home" class="navLogo"><img src="~/images/logo.png"></a>
    <div id="navHeader">
        <ul>
            <li><a asp-action="Index">Home</a></li>
            <li class="activeItem"><a asp-action="Menu">Menu</a></li>
            <li><a asp-action="PreOrder">Pre-Order</a></li>
            <li><a asp-action="Questions">FAQ</a></li>
            <li><a asp-action="AboutUs">About Us</a></li>
        </ul>
    </div>
</div>

<h1 class="mainText">Our Menu</h1>

<!--Menu Row 1--->
<div class="row">
    <div class="column">
        <div class="menuImgContainer">
            <img src="~/images/menu/glazed.jpg" class="menuItem">
            <div class="menuOverlay">
                <div class="menuOverlayText">
                    <div class="menuItemTitle">Classic Glazed</div>
                    <hr class="menuBorder">
                    This may be the most classic and typical doughnut but we guarantee ours is the best. 
                    This doughnut masters the intersection between simplicity and perfection. <br /><br />
                    <a asp-action="PreOrder" class="menuBtn">Order Now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="menuImgContainer">
            <img src="~/images/menu/chocsprinkle.jpg" class="menuItem">
            <div class="menuOverlay">
                <div class="menuOverlayText">
                    <div class="menuItemTitle">Chocolate Sprinkle</div>
                    <hr class="menuBorder">
                    What is better than a chocolate-iced doughnut you ask? We have found that answer is clearly to add sprinkles. If you do not feel convinced yet, come on in and try this doughnut.
                    <br /><br />
                    <a asp-action="PreOrder" class="menuBtn">Order Now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="menuImgContainer">
            <img src="~/images/menu/traditional.jpg" class="menuItem">
            <div class="menuOverlay">
                <div class="menuOverlayText">
                    <div class="menuItemTitle">Traditional Cake</div>
                    <hr class="menuBorder">
                    If you want something simple, Dough Boys' Traditional Cake doughnut is perfect for you. This doughnut is less sweet but more rich, like a perfect piece of cake.
                    <br /><br />
                    <a asp-action="PreOrder" class="menuBtn">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Menu Row 2--->
<div class="row">

    <div class="column">
        <div class="menuImgContainer">
            <img src="~/images/menu/strawberry.jpg" class="menuItem">
            <div class="menuOverlay">
                <div class="menuOverlayText">
                    <div class="menuItemTitle">Strawberry Iced</div>
                    <hr class="menuBorder">
                    There are two kinds of people: those who want chocolate milk, and those who want strawberry milk.
                    We believe the same goes for doughnuts and we do not want to pick a side, so enjoy this strawberry iced doughnut if you find yourself on Team Strawberry.
                    <br /><br />
                    <a asp-action="PreOrder" class="menuBtn">Order Now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="menuImgContainer">
            <img src="~/images/menu/cinnamon.jpg" class="menuItem">
            <div class="menuOverlay">
                <div class="menuOverlayText">
                    <div class="menuItemTitle">Cinnamon Sugar</div>
                    <hr class="menuBorder">
                    Cinnamon and sugar are a match made in heaven, and putting them both on a doughnut is the least we could do for the happy couple.
                    <br /><br />
                    <a asp-action="PreOrder" class="menuBtn">Order Now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="menuImgContainer">
            <img src="~/images/menu/sugartraditional.jpg" class="menuItem">
            <div class="menuOverlay">
                <div class="menuOverlayText">
                    <div class="menuItemTitle">Powdered Cake</div>
                    <hr class="menuBorder">
                    The sweeter version of our traditional cake doughnut, this powdered sugar covered doughnut is a great combination of rich and moist.
                    <br /><br />
                    <a asp-action="PreOrder" class="menuBtn">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Menu Row 3--->
<div class="row">

    <div class="column">
        <div class="menuImgContainer">
            <img src="~/images/menu/glazetraditional.jpg" class="menuItem">
            <div class="menuOverlay">
                <div class="menuOverlayText">
                    <div class="menuItemTitle">Glazed Old-Fashioned</div>
                    <hr class="menuBorder">
                    Old meets new with our Glazed Old-Fashioned doughnut. This doughnut is sweet but mostly rich due to the old-fashioned style doughnut beneath the glaze.
                    <br /><br />
                    <a asp-action="PreOrder" class="menuBtn">Order Now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="menuImgContainer">
            <img src="~/images/menu/bluetraditional.jpg" class="menuItem">
            <div class="menuOverlay">
                <div class="menuOverlayText">
                    <div class="menuItemTitle">Glazed Blueberry Cake</div>
                    <hr class="menuBorder">
                    Lorem  blah
                    <br /><br />
                    <a asp-action="PreOrder" class="menuBtn">Order Now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="menuImgContainer">
            <img src="~/images/menu/bdaycake.jpg" class="menuItem">
            <div class="menuOverlay">
                <div class="menuOverlayText">
                    <div class="menuItemTitle">Birthday Cake Creme Filled</div>
                    <hr class="menuBorder">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu tortor ut nisi tempus lacinia interdum nec nisi. Ut convallis eget purus ac consequat. Curabitur imperdiet fringilla ipsum, ac pulvinar elit viverra quis.
                    <br /><br />
                    <a asp-action="PreOrder" class="menuBtn">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Menu Row 4--->
<div class="row">

    <div class="column">
        <div class="menuImgContainer">
            <img src="~/images/menu/applefill.jpg" class="menuItem">
            <div class="menuOverlay">
                <div class="menuOverlayText">
                    <div class="menuItemTitle">Cinnamon Apple Filled</div>
                    <hr class="menuBorder">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu tortor ut nisi tempus lacinia interdum nec nisi. Ut convallis eget purus ac consequat. Curabitur imperdiet fringilla ipsum, ac pulvinar elit viverra quis.
                    <br /><br />
                    <a asp-action="PreOrder" class="menuBtn">Order Now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="menuImgContainer">
            <img src="~/images/menu/bluecream.jpg" class="menuItem">
            <div class="menuOverlay">
                <div class="menuOverlayText">
                    <div class="menuItemTitle">Glazed Blueberry Filled</div>
                    <hr class="menuBorder">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu tortor ut nisi tempus lacinia interdum nec nisi. Ut convallis eget purus ac consequat. Curabitur imperdiet fringilla ipsum, ac pulvinar elit viverra quis.
                    <br /><br />
                    <a asp-action="PreOrder" class="menuBtn">Order Now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="menuImgContainer">
            <img src="~/images/menu/lemoncream.jpg" class="menuItem">
            <div class="menuOverlay">
                <div class="menuOverlayText">
                    <div class="menuItemTitle">Glazed Lemon Filled</div>
                    <hr class="menuBorder">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu tortor ut nisi tempus lacinia interdum nec nisi. Ut convallis eget purus ac consequat. Curabitur imperdiet fringilla ipsum, ac pulvinar elit viverra quis.
                    <br /><br />
                    <a asp-action="PreOrder" class="menuBtn">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>