
@{
    ViewData["Title"] = "Frequently Asked Questions";
}

<div class="navBar">
    <a href="Home" class="navLogo"><img src="~/images/logo.png"></a>
    <div id="navHeader">
        <ul>
            <li><a asp-action="Index">Home</a></li>
            <li><a asp-action="Menu">Menu</a></li>
            <li><a asp-action="PreOrder">Pre-Order</a></li>
            <li class="activeItem"><a asp-action="Questions">FAQ</a></li>
            <li><a asp-action="AboutUs">About Us</a></li>
        </ul>
    </div>
</div>

<h1>FAQ</h1>
<p2>How long have you been open for?</p2>
<br>
<p3>We have been open for about a year now.</p3>
<br>
<p2>When are your Vegan days?</p2>
<br>
<p3>We have our Vegan Days on X days and we strive to appease those who want a sweet dessert and enjoy it as a vegan.</p3>
<br>
<p5>Closed Mondays   /   Tuesday-Thursday: 7am-5pm   /  Friday-Saturday: 7am-7pm  /  Sunday: 8am-2pm</p5>
<br>